#profile-container {
  position: fixed;
  left: 0px;
  top: 42px;
  width: 100vw;
  height: calc(100vh - 42px);
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.big-side {
  //   background: rgba(35, 35, 36, 1);
  height: calc(100vh - 62px);
  float: left;
  position: relative;
}

.profile-portrait {
  width: 400px;
  height: 500px;
  margin-right: 5%;
  margin-left: 5%;
  overflow: hidden;
}

.profile-portrait img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.profile-name-box {
  height: 100px;
  //   background-color: green;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.profile-name-box h1 {
  font-size: 48px;
  text-align: center;
  color: white;
}

.info-text {
  position: absolute;
  left: 1vw;
  top: 1vh;
  z-index: 2;
  // background: blue;
  padding: 0px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.profile-team span {
  float: left;
  font-size: 8px;
  margin-top: 5px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.75);
}

.profile-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 48px;
  color: rgb(166, 140, 47);
}

.profile-nickname {
  margin-top: 0px;
  color: rgba(255, 255, 255, 1);
}

.profile-team {
  margin-top: 0px;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  height: 120px;
  padding: 0px;
}

.profile-team p {
  margin: 0px;
}

.team-img-box {
  float: left;
  height: 80px;
  width: 80px;
  overflow: hidden;
  position: relative;
}
.team-img-box img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

.record-item {
  font-size: 14px;
}

.profile-info {
  width: 35%;
}
