.tab-change {
  height: 30px;
  margin-bottom: 4px;
}
.tab-change button {
  height: 30px;
}

h1 button {
  top: 33px;
  margin-left: 5px;
  height: 20px;
  width: 36px !important;
  font-size: 12px;
}

h1 input {
  height: 46px;
  text-align: center;
}

.wres-list-box {
  height: calc(100vh - 122px);
  width: 200px;
  background-color: gray;
  border: 1px black solid;
  overflow-y: scroll;
  padding: 0px;
  float: left;
}

.wres-list-item {
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.wres-list-pad {
  height: 8px;
  width: 100%;
  background-color: darkgray;
  border-top: 1px rgba(0, 0, 0, 0.6) solid;
  border-bottom: 1px rgba(33, 33, 33, 0.6) solid;
  float: left;
}

.active-wres {
  width: calc(85% - 250px);
  height: 800px;
  float: right;
  border: 1px gray solid;
  position: relative;
  right: 15%;
  background-color: gray;
  text-align: center;
  padding: 15px;
}

.active-wres button {
  width: 200px;
}

.wres-trait {
  border: 1px solid black;
  background-color: lightgray;
  color: black;
  padding-bottom: 6px;
}

.alias-button {
  width: 20px !important;
  height: 20px;
  float: left;
  margin-left: 2px;
  font-size: 20px;
  padding: 0px;
  display: flex;
  align-items: center;
  text-align: center !important;
}

#new-show-panel {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 1);
  color: white;
  text-align: center;
}
#match-box {
  border: 1px solid black;
  background-color: rgba(244, 244, 244, 1);
  width: 80%;
  margin-left: 10%;
  height: 600px;
  overflow-y: scroll;
}
#panel-container {
  // background-color: green;
  min-height: 700px;
  padding-bottom: 20px;
  width: 100%;
}

#new-show-panel input {
  text-align: center;
  width: 100%;
}

.match {
  width: 100%;
  min-height: 200px;
  background-color: rgba(133, 133, 133, 1);
  margin-bottom: 4px;
}

#winners-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  min-height: 50px;
}

#losers-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  min-height: 50px;
}

.wres-box {
  width: 100%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.match button {
  height: 25px;
  line-height: 25px;
}
.match-input {
  line-height: 25px;
  width: 250px !important;
}
.match input {
  height: 25px;
}
.match select {
  height: 25px;
  line-height: 25px;
}

#login {
  position: absolute;
  width: 400px;
  height: 225px;
  background-color: black;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

#newshow-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 98%;
  height: 820px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 4;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
