<div *ngIf="!this.appComponent.loading">
  <div class="tab-change">
    <button class="col-sm-4" (click)="this.activeTab = 0">NEW SHOW</button>
    <button class="col-sm-4" (click)="this.activeTab = 1">WRES EDIT</button>
    <button class="col-sm-4" (click)="this.activeTab = 2">SCRIPTS</button>
  </div>
  <div id="panel-container">
    <div class="" id="new-show-panel" *ngIf="this.activeTab == 0">
      <h3>ADD A SHOW</h3>
      <div class="row">
        <div class="new-show-input col-sm-4 offset-sm-4">
          <input
            type="text"
            [(ngModel)]="this.newShow.name"
            placeholder="Show Name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <span>LOCATION</span>
          <input
            type="text"
            [(ngModel)]="this.newShow.location"
            placeholder="Venue, City, State"
          />
        </div>
        <div class="col-sm-4">
          <span>DATE</span>
          <input type="date" [(ngModel)]="this.newShow.date" />
        </div>
        <div class="col-sm-4">
          <span>PPV</span>
          <input type="checkbox" />
        </div>
      </div>
      <div class="row">
        <h3>MATCHES <button (click)="addMatch()">+</button></h3>
        <div id="match-box">
          <div
            class="match"
            *ngFor="let match of this.newShow.matches; let i = index"
          >
            <p>MATCH {{ i + 1 }}</p>
            <div class="row">
              <div class="col-sm-5">
                <p>COMPETITORS</p>
                <div id="winners-box">
                  <p>WINNERS</p>
                  <div class="wres-box">
                    <div *ngFor="let box of match.winner; let winI = index">
                      <select
                        name="Wrestler"
                        id=""
                        *ngIf="this.whichNew[i][0][winI] == null"
                        [(ngModel)]="match.winner[winI]"
                      >
                        <option
                          *ngFor="let w of this.wrestlers; let wI = index"
                          [value]="w.name"
                        >
                          {{ w.name }}
                        </option>
                      </select>
                      <input
                        type="text"
                        *ngIf="this.whichNew[i][0][winI] !== null"
                        [(ngModel)]="this.whichNew[i][0][winI]"
                      />
                      <button
                        *ngIf="this.whichNew[i][0][winI] == null"
                        (click)="toggleWrestler(i, 0, winI)"
                      >
                        NEW</button
                      ><button
                        *ngIf="this.whichNew[i][0][winI] !== null"
                        (click)="toggleWrestler(i, 0, winI)"
                      >
                        EXISTING</button
                      ><button (click)="removeWinner(i, match, winI)">-</button>
                    </div>
                  </div>
                  <button (click)="addWinner(i, match)">+</button>
                </div>
                <div id="losers-box">
                  <p>LOSERS</p>
                  <div class="wres-box">
                    <div
                      *ngFor="let side of match.loser; let loserSideI = index"
                      style="
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                      "
                    >
                      <p>
                        SIDE {{ loserSideI + 1 }}
                        <button (click)="removeLoserSide(i, match, loserSideI)">
                          -
                        </button>
                      </p>
                      <div *ngFor="let box of side; let loserI = index">
                        <select
                          name="Wrestler"
                          id=""
                          *ngIf="
                            this.whichNew[i][1][loserSideI][loserI] == null
                          "
                          [(ngModel)]="match.loser[loserSideI][loserI]"
                        >
                          <option
                            value=""
                            *ngFor="let w of this.wrestlers"
                            [value]="w.name"
                          >
                            {{ w.name }}
                          </option>
                        </select>
                        <input
                          type="text"
                          *ngIf="
                            this.whichNew[i][1][loserSideI][loserI] !== null
                          "
                          [(ngModel)]="this.whichNew[i][1][loserSideI][loserI]"
                        />
                        <button
                          *ngIf="
                            this.whichNew[i][1][loserSideI][loserI] == null
                          "
                          (click)="toggleWrestler(i, 1, loserI, loserSideI)"
                        >
                          NEW</button
                        ><button
                          *ngIf="
                            this.whichNew[i][1][loserSideI][loserI] !== null
                          "
                          (click)="toggleWrestler(i, 1, loserI, loserSideI)"
                        >
                          EXISTING
                        </button>

                        <button
                          (click)="removeLoser(i, match, loserSideI, loserI)"
                        >
                          -
                        </button>
                      </div>
                      <button (click)="addLoser(i, side, loserSideI)">+</button>
                    </div>
                  </div>

                  <button (click)="addLoserSide(i, match)">+</button>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="col-sm-12">
                  <p>TITLE</p>
                  <select name="" id="" [(ngModel)]="match.title[0]">
                    <option value="">NONE</option>
                    <option
                      [value]="title._id"
                      *ngFor="let title of this.titles"
                    >
                      {{ title.name }}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <p>TIME</p>
                    <input type="text" [(ngModel)]="match.time" />
                  </div>
                  <div class="col-sm-2">
                    <p>PRESHOW?</p>
                    <input type="checkbox" [(ngModel)]="match.preshow" />
                  </div>
                  <div class="col-sm-2">
                    <p>MAIN?</p>
                    <input type="checkbox" [(ngModel)]="match.mainEvent" />
                  </div>
                  <div class="col-sm-4">
                    <p>FINISH</p>
                    <select name="" id="" [(ngModel)]="match.result">
                      <option value="Pinfall">Pinfall</option>
                      <option value="Submission">Submission</option>
                      <option value="DQ">DQ</option>
                      <option value="TKO">TKO</option>
                      <option value="Knock Out">Knock Out</option>
                      <option value="Count Out">Count Out</option>
                      <option value="Over The Top Rope">
                        Over The Top Rope
                      </option>
                      <option value="No Contest">No Contest</option>
                      <option value="Time Limit Draw">Time Limit Draw</option>
                      <option value="Double Count Out Draw">
                        Double Count Out Draw
                      </option>
                      <option value="Double DQ Draw">Double DQ Draw</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button (click)="saveShow(this.newShow)">SAVE</button>
      </div>
    </div>
    <div class="" *ngIf="this.activeTab == 1">
      <div class="wres-list-box">
        <div *ngIf="this.wrestlers.length > 0">
          <span *ngFor="let wres of this.wrestlers; let i = index">
            <div class="wres-list-item" (click)="setActiveWres(wres, i)">
              {{ wres.name }} <img src="{{ wres.img }}" alt="" />
            </div>
            <div
              *ngIf="i < this.wrestlers.length - 1"
              class="wres-list-pad"
            ></div>
          </span>
        </div>
      </div>
      <div class="active-wres">
        <div class="row" *ngIf="this.activeWres.name">
          <div class="col-sm-12">
            <h1>
              <span *ngIf="!this.nameEditOn">{{ this.activeWres.name }}</span>
              <input
                *ngIf="this.nameEditOn"
                type="text"
                [(ngModel)]="this.activeWres.name"
              />
              <p>
                <button
                  *ngIf="!this.nameEditOn"
                  (click)="this.nameEditOn = true"
                >
                  edit
                </button>
                <button
                  *ngIf="this.nameEditOn"
                  (click)="this.nameEditOn = false"
                >
                  done
                </button>
              </p>
            </h1>
            <p>{{ this.activeWres._id }}</p>
          </div>
          <div class="wres-trait col-md-4 col-sm-6">
            <p>ALIASES</p>
            <div style="float: left; width: calc(100%-22px)">
              <div
                *ngFor="
                  let a of this.activeWres.aliases;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <input type="text" [(ngModel)]="this.activeWres.aliases[i]" />

                <button class="alias-button" (click)="removeAlias(i)">-</button>
              </div>
            </div>
            <div style="float: left; margin-left: 40px">
              <button class="alias-button" (click)="addAlias()">+</button>
            </div>
          </div>
          <div class="wres-trait col-md-4 col-sm-6">
            <p>MALE</p>
            <input
              type="checkbox"
              name=""
              id=""
              [(ngModel)]="this.activeWres.male"
            />
          </div>
          <div class="wres-trait col-md-4 col-sm-6">
            <p>ALL ELITE</p>
            <input
              type="checkbox"
              name=""
              id=""
              [(ngModel)]="this.activeWres.allElite"
            />
          </div>
          <span style="height: 20px"></span>
          <div class="col-sm-10 offset-sm-1">
            <button (click)="saveChanges(this.wresIndex)">SAVE CHANGES</button>
            <button (click)="discardChanges()">DISCARD CHANGES</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.activeTab == 2">
      <p>COMING SOON</p>
    </div>
  </div>

  <!-- <H1>CREATE A WRESTLER</H1>
      <hr />
      <p>
        <input placeholder="Name" type="text" [(ngModel)]="this.blankWrestler.name" />
      </p>
      <p>
        <input
          placeholder="Nickname"
          type="text"
          [(ngModel)]="this.blankWrestler.nickname"
        />
      </p>
      <p>MALE:<input type="checkbox" [(ngModel)]="this.blankWrestler.male" /></p>
      <p>
        <input
          placeholder="Finisher"
          type="text"
          [(ngModel)]="this.blankWrestler.moves[0]"
        />
      </p>
      <p>
        <input
          placeholder="Image"
          type="text"
          name=""
          id=""
          [(ngModel)]="this.blankWrestler.img"
        />
      </p>
      <button (click)="saveWrestler()">SAVE</button> -->

  <!-- <h1>CREATE A TEAM</h1>
      
      <H1>EDIT A WRESTLER</H1>
      <hr />
      <button (click)="saveWrestler()"></button> -->
</div>
