<body>
  <div id="info-box" *ngIf="!this.infoRead">
    <p>
      Elite Power Rankings is a fan project not affiliated with or endorsed by
      All Elite Wrestling.
    </p>
    <p>
      Power levels are calculated based on a modified
      <a href="https://en.wikipedia.org/wiki/Elo_rating_system"
        >Elo rating system</a
      >, with additional modifiers for winning and losing streaks, and a decay
      system where a match's contribution to a power level decreases over time.
    </p>
    <p>
      Elite Power Rankings is in beta. Power calculation is regularly
      rebalanced, and power levels may shift between shows. Trios rankings are
      coming soon.
    </p>
    <p>
      If you have questions or encounter bugs, you can reach me on Twitter
      <a
        href="https://x.com/JohnDudebro"
        target="_blank"
        rel="noopener noreferrer"
        >&#64;JohnDudebro.</a
      >
    </p>
    <p>
      If you enjoy Elite Power Rankings, you can
      <a
        href="https://ko-fi.com/johndudebro"
        target="_blank"
        rel="noopener noreferrer"
        >leave me a tip on Ko-fi.</a
      >
    </p>
    <!-- <p>
      If you are Tony Khan,
      <a routerLink="/messagefortony">click here for a special message.</a> Do
      not read the special message if you are not Tony Khan.
    </p> -->
    <p>
      Click the button below to confirm that you have read this information, and
      that you promise not to get mad at me if you don't like the numbers.
    </p>
    <button (click)="iAccept(true)">Accept</button>
  </div>
  <div id="grayout" *ngIf="!this.infoRead"></div>
  <div
    id="burger-dropdown"
    [ngClass]="{
      'burger-dropdown-on': this.dropdown,
      'burger-dropdown-off': !this.dropdown
    }"
  >
    <a
      href="https://x.com/JohnDudebro"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="nav-block">&#64;JohnDudebro</div>
    </a>
    <a
      href="https://ko-fi.com/johndudebro"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="nav-block">Ko-fi</div>
    </a>
    <div class="nav-block nav-block-r" (click)="iAccept(false)">About</div>
  </div>
  <div
    id="burger-exit"
    *ngIf="this.dropdown"
    (click)="this.dropdown = false"
  ></div>
  <nav class="fixed-top">
    <div id="nav-content">
      <div id="nav-left">
        <label
          class="menu-button-container"
          (click)="this.dropdown = !this.dropdown"
        >
          <div class="menu-button"></div>
        </label>
      </div>
      <div class="nav-name">Elite Power Rankings</div>
      <!-- <div class="nav-icon">
        <img src="./assets/img/logo.png" alt="logo" />
        <div class="nav-block" [routerLink]="'rankings'">RANKINGS</div>
        <div
          class="nav-block"
          [routerLink]="'wrestler/660f3be6b82fe231045495fa'"
        >
          PROFILE
        </div>
        <div class="nav-block nav-block-r" [routerLink]="'admin'">ADMIN</div>
      </div> -->
      <div id="nav-right">
        <a
          href="https://x.com/JohnDudebro"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="nav-block">&#64;JohnDudebro</div>
        </a>
        <a
          href="https://ko-fi.com/johndudebro"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="nav-block">Ko-fi</div>
        </a>
        <div class="nav-block nav-block-r" (click)="iAccept(false)">About</div>
      </div>
    </div>
  </nav>
  <div id="loading-blackout" *ngIf="this.loading">
    <div><h1>Loading...</h1></div>
  </div>
  <div id="app-container">
    <router-outlet></router-outlet>
  </div>
</body>
