body {
  height: 100vh;
  width: 100vw;
  font-family: "Bahnschrift";
}
nav {
  color: rgba(244, 244, 244, 1);
  width: 100%;
  height: 40px;
  margin: 0px;
  background: rgba(0, 0, 0, 1);
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  overflow: hidden;
  // border-bottom: 3px solid rgba(255, 198, 0, 1);
  margin-bottom: 20px;
  /*font-size: 14px;*/
}
#nav-content {
  margin: auto;
  // background-color: green;
  height: 40px;
  // width: 800px;
  // left: 0px;
  // transform: translateX(-50%);
}
#whole-app {
  width: 100%;
  height: 100%;
  position: fixed;
}

.nav-icon img {
  margin: 5px;
  height: 30px;
  width: auto;
  float: left;
}
.nav-text {
  float: left;
  height: 40px;
  padding-top: 8px;
}
.nav-block {
  float: left;
  min-width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border-left: solid rgba(255, 255, 255, 0.2) 1px;
  border-right: solid rgba(255, 255, 255, 0.1) 1px;
  margin-right: -1px;
  color: white;
  cursor: pointer;
}
.nav-block-inner {
  background: rgba(255, 255, 255, 0.05);
}
.nav-block-r {
  border-right: solid rgba(255, 255, 255, 0.2) 1px;
}
.nav-block:hover {
  background: rgba(255, 255, 255, 0.25);
}
.nav-name {
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  // font-style: italic;
}
#nav-right {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40px;
  // width: 200px;
  // background-color: green;
}

#app-container {
  position: fixed;
  left: 0px;
  top: 42px;
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 42px);
  // font-family: "Calibri";
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  //   background-color: green;
}

#loading-blackout {
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#loading-blackout h1 {
  top: -5px;
  margin-top: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#info-box {
  background-color: rgba(244, 244, 244, 1);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 80vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;

  z-index: 5;
}

@media screen and (max-width: 500px) {
  #info-box {
    font-size: 16px;
    line-height: 15px;
  }
}
@media screen and (max-width: 910px) {
  .nav-name {
    text-align: left;
    padding-left: 5px;
  }
  .nav-block {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
  }
}
@media screen and (max-width: 530px) {
  .nav-block {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
  }
}

@media screen and (max-width: 480px) {
  .nav-name {
    text-align: center;
    padding-left: 0px;
  }

  #nav-right {
    display: none;
  }
}

#grayout {
  background-color: rgba($color: #000000, $alpha: 0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
}
