.rankings-list {
  height: 100%;
}

.rankings-item {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  border-left: 1px solid rgba(255, 255, 255, 0.33);
  border-right: 1px solid rgba(0, 0, 0, 0.67);
  border-bottom: 1px solid rgba(0, 0, 0, 0.67);
  border-radius: 4px;
  padding: 2px 4px 6px 4px;
  display: flex;
  align-items: center;
  background-color: dimgray;
  margin-bottom: 4px;
}

.ranking-number {
  //   background-color: red;
  font-size: 36px;
  padding-right: 16px;
  padding-left: 20px;
}

.ranking-name {
  //   background-color: blue;
  font-size: 26px;
  padding-right: 24px;
}

.ranking-power {
  //   background-color: green;
  font-size: 48px;
  padding-right: 24px;
  padding-bottom: 3px;
  text-align: right;
}
