<div id="rankings-container" *ngIf="!this.appComponent.loading">
  <div class="ranking-date">Rankings as of {{ this.date }}</div>
  <div class="row" style="margin-top: 15px">
    <div
      class="rankings-list col-lg-4"
      *ngFor="let ranking of rankings; let colI = index"
      [ngClass]="{
        off: colI !== 0 && colI !== 1 && colI !== whichTeam
      }"
    >
      <div class="ranking-desc" *ngIf="colI == 0">MEN'S DIVISION</div>
      <div class="ranking-desc ranking-desc-after" *ngIf="colI == 1">
        WOMEN'S DIVISION
      </div>
      <div class="ranking-desc ranking-desc-after" *ngIf="colI == whichTeam">
        <span *ngIf="whichTeam == 2">TAG TEAM DIVISION</span>
        <span *ngIf="whichTeam == 3">TRIOS DIVISION</span>
        <div id="team-switch" (click)="switchTeam()">
          <img src="../../../assets/icon/switch.png" alt="" />
          <!-- <span *ngIf="whichTeam == 2">3</span
          ><span *ngIf="whichTeam == 3">2</span> -->
        </div>
      </div>
      <div
        class="champion-expanded cursor-me"
        [ngClass]="{
          'ranking-desc-after': colI > 0
        }"
        *ngIf="this.championExpanded[colI] !== -1"
      >
        <div
          class="champion-expanded-name"
          (click)="this.championExpanded[colI] = -1"
        >
          <div class="champion-expanded-name-left">
            {{ getChampForExpansion(colI).name }}
          </div>
          <div class="champion-expanded-name-right">
            {{ getChampForExpansion(colI).power }}
          </div>
        </div>
        <div
          class="info-img"
          *ngIf="getChampForExpansion(colI).profileImage"
          (click)="this.championExpanded[colI] = -1"
        >
          <img src="{{ getChampForExpansion(colI).profileImage }}" alt="" />
        </div>
        <div
          [ngClass]="{
            'record-box': getChampForExpansion(colI).profileImage,
            'record-box-stretch': !getChampForExpansion(colI).profileImage
          }"
        >
          <div class="row record-tabs">
            <div
              class="col-6"
              [ngClass]="{
                'record-tab-active': !this.championRecordToggles[colI],
                'record-tab-inactive': this.championRecordToggles[colI]
              }"
              (click)="this.championRecordToggles[colI] = false"
            >
              2024
            </div>
            <div
              class="col-6"
              [ngClass]="{
                'record-tab-active': this.championRecordToggles[colI],
                'record-tab-inactive': !this.championRecordToggles[colI]
              }"
              (click)="this.championRecordToggles[colI] = true"
            >
              CAREER
            </div>
          </div>
          <span
            class=""
            *ngIf="!this.championRecordToggles[colI]"
            (click)="this.championExpanded[colI] = -1"
          >
            <div class="record">
              <h1>Overall</h1>
              <p>
                {{ getChampForExpansion(colI).recordYear.overallWins }}-{{
                  getChampForExpansion(colI).recordYear.overallLosses
                }}-{{ getChampForExpansion(colI).recordYear.overallDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Tag</h1>
              <p>
                {{ getChampForExpansion(colI).recordYear.tagWins }}-{{
                  getChampForExpansion(colI).recordYear.tagLosses
                }}-{{ getChampForExpansion(colI).recordYear.tagDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Singles</h1>
              <p>
                {{ getChampForExpansion(colI).recordYear.singlesWins }}-{{
                  getChampForExpansion(colI).recordYear.singlesLosses
                }}-{{ getChampForExpansion(colI).recordYear.singlesDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Trio</h1>
              <p>
                {{ getChampForExpansion(colI).recordYear.trioWins }}-{{
                  getChampForExpansion(colI).recordYear.trioLosses
                }}-{{ getChampForExpansion(colI).recordYear.trioDraws }}
              </p>
            </div>
          </span>
          <span
            class=""
            *ngIf="this.championRecordToggles[colI]"
            (click)="this.championExpanded[colI] = -1"
          >
            <div class="record">
              <h1>Overall</h1>
              <p>
                {{ getChampForExpansion(colI).record.overallWins }}-{{
                  getChampForExpansion(colI).record.overallLosses
                }}-{{ getChampForExpansion(colI).record.overallDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Tag</h1>
              <p>
                {{ getChampForExpansion(colI).record.tagWins }}-{{
                  getChampForExpansion(colI).record.tagLosses
                }}-{{ getChampForExpansion(colI).record.tagDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Singles</h1>
              <p>
                {{ getChampForExpansion(colI).record.singlesWins }}-{{
                  getChampForExpansion(colI).record.singlesLosses
                }}-{{ getChampForExpansion(colI).record.singlesDraws }}
              </p>
            </div>
            <div class="record">
              <h1>Trio</h1>
              <p>
                {{ getChampForExpansion(colI).record.trioWins }}-{{
                  getChampForExpansion(colI).record.trioLosses
                }}-{{ getChampForExpansion(colI).record.trioDraws }}
              </p>
            </div>
          </span>
        </div>
        <div class="facts-box" (click)="this.championExpanded[colI] = -1">
          <div class="facts-left" *ngIf="getChampForExpansion(colI).streak > 2">
            {{ getChampForExpansion(colI).streak }} win streak!
          </div>
          <div
            class="facts-right"
            [ngClass]="{
              'facts-right-expand': getChampForExpansion(colI).streak <= 2
            }"
          >
            <span *ngIf="getChampForExpansion(colI).streakFact.wins > 2">
              Won
              {{ getChampForExpansion(colI).streakFact.wins }}
              of
              <span *ngIf="colI == 0">his</span>
              <span *ngIf="colI == 1">her</span>
              <span *ngIf="colI == 2">their</span>
              last
              {{ getChampForExpansion(colI).streakFact.overall }}
              matches
            </span>
          </div>
          <div class="facts-bottom">
            {{ this.champions[colI][this.championExpanded[colI]].defenses }}
            Title Defense<span
              *ngIf="
                this.champions[colI][this.championExpanded[colI]].defenses !== 1
              "
              >s</span
            >
          </div>
        </div>
      </div>
      <div
        class="champion-section"
        *ngFor="let belt of champions[colI]; let i2 = index"
      >
        <div
          class="champ-box cursor-me"
          [ngClass]="{
            'champ-4': champions[colI].length == 4,
            'champ-3': champions[colI].length == 3,
            'champ-2': champions[colI].length == 2,
            'champ-1': champions[colI].length == 1,
            'champ-buffer': i2 < champions[colI].length - 1
          }"
          (click)="this.championExpanded[colI] = i2"
        >
          <div
            class="champ-picture"
            [ngClass]="{
              'champ-picture-tall': champions[colI].length < 4
            }"
          >
            <img
              *ngIf="!belt.championTeam"
              [src]="belt.champion.profileImage"
              alt=""
              [ngClass]="{
                'champ-picture-4': champions[colI].length == 4,
                'champ-picture-3': champions[colI].length == 3,
                'champ-picture-2': champions[colI].length == 2,
                'champ-picture-1': champions[colI].length == 1
              }"
            />
            <div
              [ngClass]="{
                'champ-picture-4': champions[colI].length == 4,
                'champ-picture-3': champions[colI].length == 3,
                'champ-picture-2': champions[colI].length == 2,
                'champ-picture-1': champions[colI].length == 1
              }"
              *ngIf="belt.championTeam"
            >
              <div
                class="champ-picture-tag-container"
                *ngFor="let champion of belt.champion"
              >
                <div
                  [ngClass]="{
                  'champ-picture-tag': belt.champion.length == 2,
                  'champ-picture-trio': belt.champion.length == 3,
                }"
                >
                  <img [src]="champion.profileImage" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div
            class="champ-name"
            [ngClass]="{
              'champ-name-small': champions[colI].length < 4
            }"
          >
            <div class="championship">{{ belt.shortName.toUpperCase() }}</div>
            <div
              class="champion"
              *ngIf="
                !belt.championTeam &&
                belt.champion.name.split(' ').length > 1 &&
                champions[colI].length == 4
              "
            >
              {{ belt.champion.name.split(" ")[0] }}<br />
              {{ belt.champion.name.split(" ")[1] }}

              <div class="champion-power">{{ belt.champion.power }}</div>
            </div>
            <div
              class="champion"
              *ngIf="
                !belt.championTeam &&
                (belt.champion.name.split(' ').length == 1 ||
                  champions[colI].length < 4)
              "
            >
              {{ belt.champion.name }}
              <div class="champion-power">{{ belt.champion.power }}</div>
            </div>
            <div class="champion" *ngIf="belt.championTeam">
              {{ belt.championTeam.name }}
              <div class="champion-power">{{ belt.championTeam.power }}</div>
            </div>
          </div>
        </div>
        <!-- <div class="champ-buffer" *ngIf="i2 < champions[i].length - 1"></div> -->
      </div>
      <div class="champion-section-buffer"></div>
      <div>
        <div *ngFor="let item of ranking; let i = index">
          <div
            class="rankings-item col-12"
            (click)="this.isExpanded[colI][i] = !this.isExpanded[colI][i]"
          >
            <div class="ranking-number">{{ i + 1 }}</div>
            <div class="ranking-buffer"></div>
            <div
              class="ranking-name"
              [ngClass]="{ 'ranking-name-small': item.name.length > 20 }"
            >
              {{ item.name.toUpperCase() }}
            </div>
            <div class="ranking-power">
              <div
                class="arrow"
                *ngIf="
                  item.powerHistory.length > 0 &&
                  this.getDateGap(
                    item.powerHistory[item.powerHistory.length - 1].date
                  ) <= 3 &&
                  (item.powerHistory.length == 1 ||
                    item.powerHistory[item.powerHistory.length - 2].place >
                      i + 1)
                "
              >
                <div class="arrow-popup" style="background-color: green">
                  <p>
                    UP from
                    <span
                      *ngIf="
                        item.powerHistory.length == 1 ||
                        item.powerHistory[item.powerHistory.length - 2].place ==
                          999
                      "
                      >Unranked</span
                    ><span
                      *ngIf="
                        item.powerHistory.length > 1 &&
                        item.powerHistory[item.powerHistory.length - 2]
                          .place !== 999
                      "
                      >#{{
                        item.powerHistory[item.powerHistory.length - 2].place
                      }}, power
                      {{
                        item.powerHistory[item.powerHistory.length - 2].power
                      }}</span
                    >
                  </p>
                </div>
                <img src="./assets/icon/arrowup.png" alt="" />
              </div>
              <span *ngIf="item.powerHistory.length > 1">
                <div
                  class="arrow"
                  *ngIf="
                    this.getDateGap(
                      item.powerHistory[item.powerHistory.length - 1].date
                    ) <= 3 &&
                    item.powerHistory[item.powerHistory.length - 2].place <
                      i + 1
                  "
                >
                  <div
                    class="arrow-popup"
                    style="background-color: red; color: white"
                  >
                    <p>
                      DOWN from #{{
                        item.powerHistory[item.powerHistory.length - 2].place
                      }}, power
                      {{
                        item.powerHistory[item.powerHistory.length - 2].power
                      }}
                    </p>
                  </div>
                  <img src="./assets/icon/arrowdown.png" alt="" />
                </div>
              </span>
              {{ item.power.toFixed(0) }}
            </div>
            <!-- <div class="ranking-power">
              {{ item.powerHistory[item.powerHistory.length - 1].place  }}
            </div> -->
          </div>
          <div
            class="rankings-item-expanded col-12"
            [ngClass]="{
              'expanded-off': !this.isExpanded[colI][i],
              'expanded-on': this.isExpanded[colI][i]
            }"
          >
            <span
              [ngClass]="{
                'expanded-content-off': !this.isExpanded[colI][i],
                'expanded-content-on': this.isExpanded[colI][i]
              }"
            >
              <div class="expanded-buffer"></div>
              <div class="expanded-info">
                <div class="info-img" *ngIf="item.profileImage">
                  <img
                    *ngIf="item.profileImage"
                    src="{{ item.profileImage }}"
                    alt=""
                  />
                </div>
                <div
                  [ngClass]="{
                    'record-box': item.profileImage,
                    'record-box-stretch': !item.profileImage
                  }"
                >
                  <div class="row record-tabs">
                    <div
                      class="col-6"
                      [ngClass]="{
                        'record-tab-active': !this.recordToggles[colI][i],
                        'record-tab-inactive': this.recordToggles[colI][i]
                      }"
                      (click)="this.recordToggles[colI][i] = false"
                    >
                      2024
                    </div>
                    <div
                      class="col-6"
                      [ngClass]="{
                        'record-tab-active': this.recordToggles[colI][i],
                        'record-tab-inactive': !this.recordToggles[colI][i]
                      }"
                      (click)="this.recordToggles[colI][i] = true"
                    >
                      CAREER
                    </div>
                  </div>
                  <span class="" *ngIf="!this.recordToggles[colI][i]">
                    <div class="record">
                      <h1>Overall</h1>
                      <p>
                        {{ item.recordYear.overallWins }}-{{
                          item.recordYear.overallLosses
                        }}-{{ item.recordYear.overallDraws }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Tag</h1>
                      <p>
                        {{ item.recordYear.tagWins }}-{{
                          item.recordYear.tagLosses
                        }}-{{ item.recordYear.tagDraws }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Singles</h1>
                      <p>
                        {{ item.recordYear.singlesWins }}-{{
                          item.recordYear.singlesLosses
                        }}-{{ item.recordYear.singlesDraws }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Trio</h1>
                      <p>
                        {{ item.recordYear.trioWins }}-{{
                          item.recordYear.trioLosses
                        }}-{{ item.recordYear.trioDraws }}
                      </p>
                    </div>
                  </span>
                  <span class="" *ngIf="this.recordToggles[colI][i]">
                    <div class="record">
                      <h1>Overall</h1>
                      <p>
                        {{ item.record.overallWins }}-{{
                          item.record.overallLosses
                        }}-{{ item.record.overallDraws }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Tag</h1>
                      <p>
                        {{ item.record.tagWins }}-{{ item.record.tagLosses }}-{{
                          item.record.tagDraws
                        }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Singles</h1>
                      <p>
                        {{ item.record.singlesWins }}-{{
                          item.record.singlesLosses
                        }}-{{ item.record.singlesDraws }}
                      </p>
                    </div>
                    <div class="record">
                      <h1>Trio</h1>
                      <p>
                        {{ item.record.trioWins }}-{{
                          item.record.trioLosses
                        }}-{{ item.record.trioDraws }}
                      </p>
                    </div>
                  </span>
                </div>
                <div class="facts-box">
                  <div class="facts-left" *ngIf="item.streak > 2">
                    {{ item.streak }} win streak!
                  </div>
                  <div
                    class="facts-right"
                    [ngClass]="{ 'facts-right-expand': item.streak <= 2 }"
                  >
                    <span *ngIf="item.streakFact.wins > 2">
                      Won {{ item.streakFact.wins }} of
                      <span *ngIf="colI == 0">his</span>
                      <span *ngIf="colI == 1">her</span>
                      <span *ngIf="colI == 2">their</span>
                      last
                      {{ item.streakFact.overall }} matches
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div></div>
