body {
  background-color: rgba(244, 244, 244, 1);
}
.rankings-list {
  height: 100%;
}

.rankings-item {
  color: rgba(244, 244, 244, 1);
  height: 80px;
  display: flex;
  // align-items: center;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
}

.ranking-number {
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  // background-color: red;
  height: 80px;
  width: 70px;
  font-size: 62px;
  // padding-bottom: 2px;
  text-align: center;
}
.ranking-buffer {
  height: 100%;
  width: 10px;
  background-color: rgba(244, 244, 244, 1);
}

.ranking-name {
  cursor: pointer;
  padding-top: 2px;
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 235px);
  // padding-top: 2px;
  font-size: 32px;
  text-align: left;
  line-height: 30px;
  padding-left: 15px;
}

.ranking-power {
  cursor: pointer;
  padding-top: 3px;
  height: 100%;
  width: 225px;
  font-size: 64px;
  line-height: 30px;
  padding-right: 15px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  text-align: right !important;
}
.ranking-power img {
  position: inherit;
  left: 0px;
}

.rankings-item-expanded {
  background-color: rgb(0, 0, 0);
  color: rgba(244, 244, 244, 1);
}

.expanded-off {
  display: none;
  opacity: 0;
  height: 0px;
}
.expanded-on {
  display: block;
  opacity: 1;
  height: 180px;
  transition: visbility 0.05s linear;
}
.expanded-buffer {
  height: 100%;
  width: 72px;
  background-color: rgba(244, 244, 244, 1);
  float: left;
}
.expanded-info {
  width: calc(100% - 72px);
  height: 100%;
  float: left;
  position: relative;
  // background-color: green;
}

.info-img {
  height: 140px;
  width: 140px;
  position: relative;
  float: left;
  top: 0px;
  left: 10px;
  margin-right: 20px;
}
.info-img img {
  height: 100%;
  width: 100%;
}
.record-box {
  height: calc(100% - 30px);
  width: calc(100% - 160px);

  float: left;
}
.record-tabs {
  height: 30px;
  text-align: center;
  margin-left: 0px;
  width: 100%;
}
.record-tab-active {
  background-color: rgb(180, 159, 0);
}
.record-tab-inactive {
  cursor: pointer;
}
.record-tab-inactive:hover {
  background-color: rgba(180, 159, 0, 0.25);
  transition: background-color 0.05s linear;
}
.record {
  border-left: 1px solid rgb(180, 159, 0);
  border-top: 1px solid rgb(180, 159, 0);
  float: left;
  height: calc(50% - 15px);
  width: 50%;
  text-align: center;
}
.record p {
  font-size: 22px;
  margin: 0px;
}
.record h1 {
  font-size: 22px;
  margin: 2px 0px -2px 0px;
}
.facts-box {
  float: left;
  width: 100%;
  border-top: 1px solid rgb(180, 159, 0);
  // background-color: green;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-style: italic;
}
.facts-left {
  float: left;
  border-right: 1px solid rgb(180, 159, 0);
  width: 161px;
  height: 100%;
}

.facts-right {
  float: left;
  width: calc(100% - 161px);
  height: 100%;
}
.facts-right-expand {
  width: 100%;
}

.arrow {
  position: absolute;
  width: 39px;
  height: 20px;
  left: -5px;
  // top: 5px;
  // background-color: red;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow-popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
  position: absolute;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  align-items: center;
  min-width: 240px;
  max-width: auto;
  // padding-left: 3px;
  // padding-right: 3px;
  height: 50px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
.arrow:hover .arrow-popup {
  visibility: visible;
  opacity: 1;
}

.champ-4 {
  width: calc((100% - 45px) / 4);
  float: left;
}
.champ-2 {
  width: calc((100% - 15px) / 2);
  float: left;
}
.champ-1 {
  width: 100%;
  float: left;
}
.champ-box {
  color: rgba(244, 244, 244, 1);
  display: block;
  float: left;
  height: 270px;
  // width: 100%;
  // align-items: center;
  font-family: "Bahnschrift";
}
.champ-picture {
  // background-color: gold;
  width: 100%;
  height: 190px;
  float: left;
  position: relative;
  overflow: hidden;
}
.champ-picture-tall {
  height: 208px;
}
.champ-picture img {
  width: calc(100% + 1px);
  height: 100%;
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  object-fit: cover;
}

.champ-picture-2 {
  object-position: top;
}
.champ-picture-1 {
  object-position: top;
  min-height: 208px;
}
.champ-picture-1 img {
  min-height: 208px;
}

.champ-picture-tag-container {
  width: 100%;
  height: 100%;
}

.champ-picture-tag {
  width: 50%;
  float: left;
}
.champ-picture-tag img {
  width: 100%;
}

.champ-name {
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  height: 80px;
  float: left;
}
.champ-name-small {
  height: 62px;
  padding-left: 0px;
  padding-right: 0px;
}
.champ-buffer {
  margin-right: 15px;
  // background: green;
}
.championship {
  font-size: 12px;
}
.champion {
  padding-left: 4px;
  padding-right: 4px;
  line-height: 18px;
}

.champion-power {
  font-size: 24px !important;
  margin-top: 4px;
}

.champion-section-buffer {
  width: 100%;
  height: 15px;
  float: left;
}

.ranking-date {
  height: 60px;
  background-color: black;
  color: rgba(244, 244, 244, 1);
  text-align: center;
  line-height: 60px;
  font-size: 36px;
}

.ranking-desc {
  background-color: black;
  text-align: center;
  height: 32px;
  line-height: 30px;
  font-size: 24px;
  color: rgba(244, 244, 244, 1);
  margin-bottom: 15px;
}

@media screen and (max-width: 1600px) {
  .facts-right {
    font-size: 16px;
  }

  .expanded-buffer {
    width: 78px;
  }
  .expanded-info {
    width: calc(100% - 78px);
    height: 100%;
    float: left;
    position: relative;
    // background-color: green;
  }
  .champion {
    font-size: 16px;
  }
  .ranking-name {
    // background-color: green;
    font-size: 30px;
    line-height: 25px;
    width: calc(100% - 235px);
    padding-left: 10px;
  }
  .ranking-power {
    // background-color: red;
    width: 165px;
    font-size: 50px;
    padding-right: 10px;
  }
  .ranking-power img {
    width: 29px;
    height: 16px;
  }
  .arrow {
    width: 29px;
    height: 16px;
  }
}

@media screen and (max-width: 1440px) {
  .rankings-item-expanded {
    background-color: rgb(0, 0, 0);
    color: rgba(244, 244, 244, 1);
    height: 120px;
  }
  .expanded-buffer {
    width: 52px;
  }
  .expanded-info {
    width: calc(100% - 52px);
    height: 100%;
    float: left;
    position: relative;
    // background-color: green;
  }
  .info-img {
    height: 95px;
    width: 95px;
    position: relative;
    float: left;
    top: 0px;
    left: 5px;
    margin-right: 10px;
  }
  .record-box {
    height: calc(100% - 20px);
    width: calc(100% - 105px);
    padding-left: 0px;
    float: left;
  }
  .record-tabs {
    line-height: 20px;
    height: 20px;
  }
  .record {
    height: calc(50% - 10px);
  }
  .record h1 {
    font-size: 16px;
    margin: 1px 0px -2px 0px;
  }
  .record p {
    font-size: 16px;
  }
  .facts-box {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .facts-left {
    width: 106px;
  }
  .facts-right {
    float: left;
    width: calc(100% - 106px);
    height: 100%;
  }
  .facts-right-expand {
    width: 100%;
  }

  .ranking-name {
    // background-color: green;
    line-height: 20px;
    font-size: 24px;
    width: calc(100% - 190px);
    padding-left: 5px;
  }
  .ranking-name-small {
    font-size: 22px !important;
    line-height: 20px;
  }
  .ranking-power {
    padding-top: 2px;
    // background-color: red;
    width: 140px;
    font-size: 46px;
    padding-right: 5px;
  }
  .rankings-item {
    height: 50px;
  }
  .ranking-number {
    font-size: 36px;
    width: 42px;
    height: 50px;
  }
  .ranking-power img {
    width: 20px;
    height: 11px;
  }
  .arrow {
    width: 20px;
    height: 11px;
  }
}
@media screen and (max-width: 1250px) {
  .ranking-name {
    // background-color: green;
    line-height: 18px;
    font-size: 20px;
  }
  .ranking-name-small {
    font-size: 18px !important;
    line-height: 18px;
  }
}
@media screen and (max-width: 1150px) {
  .facts-right {
    font-size: 11px;
  }
}
@media screen and (max-width: 1100px) {
  .ranking-name-small {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 991px) {
  .facts-right {
    font-size: 14px;
  }

  .ranking-date {
    font-size: 24px;
  }
  .championship {
    font-size: 10px;
  }
  .champion {
    font-size: 14px;
  }
  .ranking-name {
    font-size: 24px !important;
    width: calc(100% - 137px);
  }
  .ranking-power {
    width: 95px;
    font-size: 28px;
  }
  .ranking-number {
    font-size: 36px;
    width: 42px;
    height: 50px;
  }
  .rankings-item {
    height: 50px;
    display: flex;
    // align-items: center;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  .facts-right {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .facts-right {
    font-size: 10px;
  }
}
