.rankings-list {
  height: 100%;
}

.rankings-item {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  border-left: 1px solid rgba(255, 255, 255, 0.33);
  border-right: 1px solid rgba(0, 0, 0, 0.67);
  border-bottom: 1px solid rgba(0, 0, 0, 0.67);
  border-radius: 4px;
  padding: 2px 4px 6px 4px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: dimgray;
  margin-bottom: 4px;
}

.ranking-number {
  // background-color: red;
  width: 65px;
  margin-right: 4px;
  font-size: 40px;
  text-align: center;
  // padding-right: 16px;
  // padding-left: 20px;
}

.ranking-name {
  // background-color: blue;
  width: calc(100% - 204px);
  padding-top: 2px;
  font-size: 32px;
  padding-right: 24px;
}

.ranking-power {
  // background-color: green;
  width: 150px;
  font-size: 64px;
  padding-right: 25px;
  padding-bottom: 3px;
  text-align: right;
}
