<div id="profile-container">
    <div class="profile-portrait big-side">
        <img src="../../assets/img/profiles/dustin1.png" alt="">
    </div>
    <div class="profile-info big-side">
        <div class="info-text">
            <p class="profile-name">CHUCK TAYLOR</p>
            <p class="profile-nickname">"THE KENTUCKY GENTLEMAN"</p>
            <div class="profile-team">
                <p><span>TEAM</span>BEST FRIENDS</p>
                <div class="team-pics">
                    <div class="team-img-box"><img src="../../assets/img/profiles/greg1.png" alt=""></div>
                    <div class="team-img-box"><img src="../../assets/img/profiles/orange1.png" alt=""></div>
                    <div class="team-img-box"><img src="../../assets/img/profiles/kris1.png" alt=""></div>
                </div>
            </div>
            <div class="record-box">
                <p>RECORD</p>
                <div class="record-item" *ngFor="let match of currentWres.record">
                  <span *ngIf="match.win" class="match-win">
                    <span *ngIf="match.team">{{match.team.name}}</span> <span *ngIf="!match.team">{{currentWres.name}}</span> def. <span *ngIf="match.opp.partners">{{match.opp.name}}</span> <span *ngIf="!match.opp.partners">{{match.opp.name}}</span>
                  </span>
                  <span *ngIf="!match.win" class="match-loss">
                    <span *ngIf="match.opp.partners">{{match.opp.name}}</span> <span *ngIf="!match.opp.partners">{{match.opp.name}}</span> def. <span *ngIf="match.team">{{match.team.name}}</span> <span *ngIf="!match.team">{{currentWres.name}}</span>
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div></div>
