/* You can add global styles to this file, and also import other style files */

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    padding: 0px;
    margin: 0px;
    background-image: url("assets/img/bg-brick.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: whitesmoke;
}

